# Xcode
DerivedData/
build/
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcuserstate
*.moved-aside
*.swp

# Environment files
.env
.env.local
.env.production
.env.staging
*.env
